extends layout

block content

  main.container
    .bg-light(class='p-5 rounded')
      h1 Welcome to #{title}

      each user in users
        .card.mb-3
          .card-body
            h5.card-title #{user.name}
            h6.card-subtitle.mb-2.text-muted #{user.id}
            p.card-text #{user.email}


